.fullpost {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar {
    background-color: #1976D2;
    height: 50px;
}

.navbar #inp {
    background-color: #5398DD;
    border-radius: 15px;
    border: none;
    margin: 10px;
    width: 200px;
    height: 30px;
}

.btn {
    width: 90px;
    height: 25px;
    background-color: #5398DD;
    border: none;
    font-size: medium;
    font-weight: 700;
}

.post {
    border-radius: 10px;
    /* width: 400px; */
    margin: 7px;
    padding: 10px;
    background-color: #E7EBF0;
}

.img {
    width: 650px;
    height: 350px;
}

@media only screen and (max-width:320px) {
    .img {
        width: 280px;
        height: 140px;
    }

    .post {
        background-color: #72ace7;
    }
}