.fullpost{display: flex;}
.navbar{
    display: flex;
    justify-content: center;
    background-color: #1976D2;
    height: 50px;}
.navbar #inp{
    background-color:#5398DD ;
border-radius: 15px; border: none;
margin: 10px;width: 300px; height: 30px;
}
.btn{width: 100px;
height: 25px;
background-color: #5398DD;
border: none;
font-size: large;
font-weight: 700;}
.post{
    border-radius: 10px;
    width: 400px;
    margin: 10px;
    padding: 10px;
    background-color: #E7EBF0;
}
.img{    
    width: 400px;
    height: 300px;
}